* {
    box-sizing: border-box;
    
}

body {
    margin: auto;
    height: 100%;
    scroll-behavior: smooth;
}

header {
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #333;
    
}
#headerimage {
    background-color: #333;
    display: flex;
    width: 100%;
}
nav{
    float: left;
    background-color: #333;
    overflow: hidden;
    position: fixed;
}

 

#pagecontent {
    padding: 1%
}
li h6{
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: right;
}
#socialmediabar {
    float:right;
    background-color: #333;
    padding-top: 39px;
}

#copyright {
    background-color: #333;
    overflow: hidden;
    position: -webkit-sticky;
}

li {
    float: left;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    font-variant: small-caps;
}

a:link, a:visited {
    display: block;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    text-align: center;
    padding: 12px ;
    text-decoration: none;
}

a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}

.column {
    float: left;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.icon {
    height: 48px;
    width: 48px;
}
.icons {
    height: 24px;
    width: 24px;
    float: left;
}

footer {
    position: fixed;
    background-color: #333;
}


@media screen and (max-width: 960px) {
    .column.side, .column.middle {
        width: 100%;
    }
    .headerimage {
        height:400px;
    }
    ul li {
        font-size: 14px;
    }
}