{% extends 'base.html' %} 
{% block content %}
<div class="row">
     <div class="column side">
       <h2>Side</h2>
       <p>
         Side content here side content here side content here side content here.
       </p>
   
       <p>Side content here.</p>
     </div>
   
     <div class="column middle">
       <h2>Main Content</h2>
       <p>Main content should go here. Main content should go here. Main content should go here</p>
       <p>Main content should go here. Main content should go here. Main content should go here</p>
       <p>Main content should go here. Main content should go here. Main content should go here</p>
   
       <h2>Main Content</h2>
       <p>Main content should go here. Main content should go here. Main content should go here</p>
       <p>Main content should go here. Main content should go here. Main content should go here</p>
       <p>Main content should go here. Main content should go here. Main content should go here</p>
     </div>
   
     <div class="column side">
       <h2>Side</h2>
       <p>
         Side content here side content here side content here side content here.
       </p>
   
       <p>Side content here.</p>
     </div>
   </div>
 {% endblock %}