{% extends 'base.html' %} 
{% block nav-about %}<strong class="nav-active">About</strong>{% endblock %}
{% block content %}
<h1>
     hello {{request.user}}, this is the about me page
</h1>


<h3>{{ title|upper }}</h3> 
<p>template from abouthtml .. </p>

{{ my_html|safe }}
{{  my_text|upper }}

<p>{% comment %} these are context variables {% endcomment %}
,{{my_number}}, 
{{my_list}}
</p>

<ul>
     <li>item 1</li>
     <li>item 2</li>
</ul>
<ul>
{% for abc in my_list %}
     {% if abc == 312 %}
     {% comment %} "abc|add:100000022" is a built in template tag filter {% endcomment %}
          <li>{{forloop.counter}}. {{abc|add:1000000022}}</li> 
     {% elif abc == "abc" %}
          <li>{{forloop.counter}}. this is an elif statement</li>
     {% else %}
          <li>{{forloop.counter}}. {{abc}}</li>
     {% endif %}

{% endfor %}
</ul>

 {% endblock %}
