{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
     <head>
         
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>Soli.nyc</title>
          <meta name="description" content="">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet"  href="{% static '/css/base.css' %}">
          <link rel="stylesheet"  href="{% static '/css/style.css' %}">
            
     </head>
     <body >

          <ul>
          {% block nav %}
          <div class="nav">
               <li class="nav-item">
                    {% block nav-home %}
                         <a href="{% url 'home' %}">home</a>
                    {% endblock %}
               </li>
               {% if user.is_authenticated %}
                    <li>
                         {% block nav-about %}
                              <a href="{% url 'about' %}">services</a>
                         {% endblock %}
                    </li>
                    <li>
                         {% block nav-courses %}
                              <a href="{% url 'courses' %}">portfolio</a>
                         {% endblock %}
                    </li>
                    <li>
                         {% block nav-soliblog %}
                              <a href="{% url 'soliblog' %}">blog</a>
                         {% endblock %}
                    </li>

                    <li>
                         {% block nav-contact %}
                              <a href="{% url 'contact' %}">contact</a>
                         {% endblock %}
                    </li>
                    <li>
                         {% block nav-logout %}
                              <a href="{% url 'logout' %}">logout</a>
                         {% endblock %}
                    </li>
               {% else %}
                    <li>
                         {% block nav-login %}
                              <a href="{% url 'login' %}">login</a>
                         {% endblock %}
                    </li>
                    <li>
                         {% block nav-register %}
                              <a href="{% url 'register' %}">register</a>
                         {% endblock %}
                    </li>
               {% endif %}
          </div>
          {% endblock %}
          </ul>
         
         {% if messages %}
               {% for messages in messages %}
                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
               {% endfor %}
          {% endif %}
     
     <div id="pagecontent">
          
          {% block content %}
               replace me
          {% endblock %}
     </div>
   
     
     <div id="copyright">
     {% block copyright %}
          <li id="copyright">
               <h6><img src="https://user-images.githubusercontent.com/72266712/150020657-005eac69-0a3d-437d-98d6-12ba5cd7abe1.png" class ="icon">
                    &copy; 2022 - Soli.nyc<h6>
          </li>
     {% endblock%}
     {% block socialmediabar %}
          <li id="socialmediabar">
               <a href="http://www.facebook.com/soli.nyc.fb">
               <img src="https://user-images.githubusercontent.com/72266712/150038672-b1f4d417-5cfc-4187-91f7-14a2bcac51ad.png" class="icons">
               </a>
          </li>
          <li id="socialmediabar">
               <a href="http://www.linkedin.com/in/solinyc">
               <img src="https://user-images.githubusercontent.com/72266712/150038667-e9a1d38a-3279-463c-a705-cacfd6bff19f.gif" class="icons">
               </a>
          </li>
          <li id="socialmediabar">
               <a href="tel:+16468479414">
                    <img src="https://user-images.githubusercontent.com/72266712/150040074-5ec2e735-8a63-484d-b828-7ff6582273ac.png" class="icons">
               </a>
          </li>
          <li id="socialmediabar">
               <a href="https://github.com/solideveloper">
                    <img src="https://user-images.githubusercontent.com/72266712/150038668-3aacb4c3-88b2-4d84-89d3-b03828c0849f.png" class="icons">
               </a>
          </li>
          <li id="socialmediabar">
               <a href="http://www.instagram.com/soli.nyc">
                    <img src="https://user-images.githubusercontent.com/72266712/150038669-7bd2483e-c62e-415a-b9d9-da8ead8a9ba5.png" class="icons">
               </a>
          </li>
          <li id="socialmediabar">
               <a href="mailto:soli@soli.nyc">
                    <img src="https://user-images.githubusercontent.com/72266712/150041598-9d2c8fbb-d85a-4216-8194-51cbb8ac54ff.png" class="icons">
               </a>
          </li>
     {% endblock %}
     </div>
       
    

     <!--[if lt IE 7]>
               <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
          <![endif]-->
     </body>
</html>

